<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Tamil Ilakiya search</title>
  </head>
  <body>
    <div class="container">
      <h1>Tamil Ilakiya search</h1>
      <form role="form" action="/" method="GET">
        <div class="form-group">
          <input type="text" name="word" placeholder="Search for word" class="form-control" />
        </div>
        <% @file_list.each_with_index do |file, index| %>
          <div class="checkbox">
            <label><input type="checkbox" name="file[<%= index %>]" value="<%= file %>"  /> <%= file %></label>
          </div>
        <% end %>
        <input type="submit" class="btn btn-default" />
      </form>
      <% if(@searches) %>
        <% @searches.each do |search| %>
          <p><%= search[2]%> வரி: <%= search[0] %>. <%= search[1] %></p>
        <% end %>
      <% end %>
     </div>
  </body>
</html>
